title Liam F Doran
meta(charset="utf-8")
meta(name="viewport", content="width=device-width, user-scalable=false")

link(rel='stylesheet', type='text/css', href= "resources/stylesheets/screen.css")

script(language="javascript" type="text/javascript" src="resources/js/lib/jquery-1.9.0.min.js")
script(language="javascript" type="text/javascript" src="resources/js/background.js")

script(language="javascript" type="text/javascript" src="resources/js/lib/jquery.flexslider-min.js")
