title Liam F Doran
meta(charset="utf-8")
meta(name="viewport", content="width=device-width, user-scalable=false")

link(rel='stylesheet', type='text/css', href= "resources/stylesheets/screen.css")
link(href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic' rel='stylesheet' type='text/css')

script(language="javascript" type="text/javascript" src="resources/js/lib/jquery-1.9.0.min.js")
script(language="javascript" type="text/javascript" src="resources/js/background.js")

script(language="javascript" type="text/javascript" src="resources/js/lib/jquery.openCarousel.min.js")
