nav

	.navBlock
		.navEleWrapper
			a.triangle(data-ocarousel-link=1)
			h3 About
				
	.navBlock
		.navEleWrapper
			a.triangle(data-ocarousel-link="1")
			h3 Projects

	.navBlock
		.navEleWrapper
			a.triangle(href="./contactpage.html")
			h3 Skills
	