nav

	.navBlock
		.navEleWrapper
			a.triangle(href="./biopage.html")
			h3 About
				
	.navBlock
		.navEleWrapper
			a.triangle(href="./projectspage.html")
			h3 Projects

	.navBlock
		.navEleWrapper
			a.triangle(href="./contactpage.html")
			h3 Skills
	