mixin sectionChunk
	.navShapeBlock
		//.filler
		.filler
		.triangleContainer
			.leftBox
			.leftTriangle
			.midTriangle
			.rightTriangle
			.rightBox
		.filler

.navContainer
	.navBlock
		+sectionChunk
	.navBlock
		+sectionChunk
	.navBlock
		+sectionChunk