mixin sectionChunk
	.navShapeBlock
		.filler
		.triangleContainer
			.leftTriangle
			.midTriangle
			.rightTriangle
		.filler

nav
	.navBlock
		+sectionChunk
	.navBlock
		+sectionChunk
	.navBlock
		+sectionChunk