mixin triangleBlock(title)
	.navEleWrapper
		.navShapeBlock
			.filler
			.triangleContainer
				.leftTriangle
				.midTriangle
				.rightTriangle
			.filler
		h3(class="navTitle") #{title}

nav
	.navBlock
		+triangleBlock("about")
	.navBlock(class="centerThird")
		+triangleBlock("skills")
	.navBlock
		+triangleBlock("fun")