mixin triangleBlock(title)
	.navEleWrapper
		.navShapeBlock
			
			.filler
			.triangleContainer
				.ffTriangleWrapper
					a.midTriangle
			.filler
		h3(class="navTitle") #{title}

nav
	.navBlock
		+triangleBlock("About")
	.navBlock(class="centerThird")
		+triangleBlock("Projects")
	.navBlock
		+triangleBlock("Skills")