!!! 5
html
	head
		include ../shared/head

	body
		.flexslider_children(id="background-slider")
			.slides
				li
					.color-container(class="primary")
				li
					.color-container(class="secondary")
				li
					.color-container(class="tertiary")

		.centered
			h1.name Liam Doran

			.frameWrapper
				include ../shared/newnav
				.frame
					.container
						//#red red
						//#green green
						//#blue blue
						.content
							block content