!!! 5
html
	head
		include ../shared/head

	body
		.flexslider_children(id="background-slider")
			.slides
				li
					.red
					//	include ../content/bio
				li
					.green
					//	include ../content/bio
				li
					.blue
					//	include ../content/bio

		.centered
			h1.name Liam Doran

			.frameWrapper
				include ../shared/newnav
				.frame
					.container
						//#red red
						//#green green
						//#blue blue
						.content
							block content
					a.email liamfd@gmail.com