!!! 5
html
	head
		include ../shared/head

	body
		.blueDiv
		.centered
			h1.name Liam Doran

			.frame
				include ../shared/nav
			
				.container
					#red red
					#green green
					#blue blue
					.content
						block content
				a.email liamfd@gmail.com
		include ../shared/foot
		include ../shared/newnav