h2.aboutTitle About Me
.bioText
	p.
		Hello, I'm a web developer, and I'm constantly working on becoming a better one. I'm currently
		a student at Trinity College, Hartford, a few months from finishing a BS in Computer Science.
		I'm interested in backend, frontend, and tools I have never tried.
		I also write when I can, and dabble in improv comedy.
	.contactRow
		a.email(href="mailto:liamfd@gmail.com") liamfd@gmail.com
		|   |   
		a.email(href="http://www.linkedin.com/in/liamfdoran/") LinkedIn
