h2.aboutTitle Me
.bioText
	p.
		Hello, I'm a web developer. Or at least, an aspiring one. I'm currently
		a student at Trinity College, Hartford, three months from finishing a BS in Computer Science.
		I'm interested in backend, frontend, and tools I have never tried.
		I also write when I can, and dabble in improv comedy.
	a.email(href="mailto:liamfd@gmail.com") liamfd@gmail.com
