h2.title Me
.bioText
	p.
		I'm Liam Doran, and I'm a web developer. Or at least, I'm working on it. I'm currently
		a student at Trinity College, Hartford, three months from finishing a BS in Computer Science.
		I'm interested in backend, frontend, any tools I have never tried, and employment.
		I also write when I can, and do improv when I'm not supposed to.