h2.title Skills

.skillsContainer
	.area
		p 
			strong Web Development:
			| Ruby on Rails, JQuery, SASS/Compass, HAML/Jade, Wordpress

	.area
		p 
			strong Languages:
			| Ruby, Python, C, Java, CUDA C

	.area
		p 
			strong Skills:
			| Web Frontend and Backend, Data Structures and Algorithms, High Performance Computing(CUDA C on multi-GPU systems)

