h2.skillsTitle Skills

.skillsContainer
	.area
		p 
			strong Web Development: 
			| Ruby on Rails, JQuery, SASS/CSS3, Jade/HTML5, Wordpress

	.area
		p 
			strong Languages: 
			| Ruby, Python, Java (Android SDK), C, C++, CUDA C

	.area
		p 
			strong Tools: 
			| Git, Eclipse, Vim, and developing in Linux