h2.title Projects

.projectsRow
	.projectContainer
		.project
			img(src = "resources/images/fredcommS.png")
			h3 TheFredCommunity.com
			p 
				strong Developer
			p Wordpress
	
	.projectContainer
		.project
			img(src = "resources/images/tffsiteS.png")
			h3 TrinityFilmFestival.org
			p 
				strong Co-Developer
			p SASS/Compass, Jade, JQuery
	
	.projectContainer
		.details
			| Hi.
		.project
			img(src = "resources/images/noteworksS.png")
			h3 Noteworks (Coming Soon)
			p
				strong Developer
			p Ruby on Rails, HAML, AJAX, Cytoscape.js
