h2.title Projects

.projectsRow
	.project
		img(src = "resources/images/fredcommS.png")
		h3 TheFredCommunity.com
		p 
			strong Developer
		p Wordpress
	.project
		img(src = "resources/images/tffsiteS.png")
		h3 TrinityFilmFestival.org
		p 
			strong Development, Maintainer
		p SASS/Compass, Jade, JQuery
	.project
		img(src = "resources/images/noteworksS.png")
		h3 Noteworks (Coming Soon)
		p
			strong Developer
		p Ruby on Rails, HAML, AJAX, Cytoscape.js