h2.projectsTitle Projects

.projectsRow
	.project
		a.link_title(href="http://www.thefredcommunity.com") thefredcommunity.org
		a.projectImageContainer(href="http://www.thefredcommunity.com")
			
			.projectImage
				img(src = "resources/images/fredcommS.png")		
			.details
				.text
					.role 
						strong Developer
					.tools Wordpress, HTML, CSS	

		//p 
		//	strong Developer
		//p Wordpress
	
	.project
		a.link_title(href="http://www.trinityfilmfestival.org") TrinityFilmFestival.org
		a.projectImageContainer(href="http://www.trinityfilmfestival.org")
			.projectImage
				img(src = "resources/images/tffsiteS.png")
			.details
				.text
					.role 
						strong Co-Developer
					.tools SASS/Compass, Jade, jQuery
		//p 
		//	strong Co-Developer
		//p SASS/Compass, Jade, JQuery

	.project
		h3 Noteworks
		
		a.projectImageContainer
			.projectImage
				img(src = "resources/images/noteworksS.png")
			.details 
				.text
					.role 
						strong Developer
					.tools Ruby on Rails, JQuery, AJAX, Cytoscape.js
					strong COMING SOON

		//p
		//	strong Developer
		//p Ruby on Rails, HAML, AJAX, Cytoscape.js







			