h2.projectsTitle Projects

.projectsRow
	.project
		h3 TheFredCommunity.com
		a.projectImageContainer(href="http://www.TheFredCommunity.com")
			
			.projectImage
				img(src = "resources/images/fredcommS.png")		
			.details
				.text
					.role 
						strong Developer
					.tools Wordpress, HTML, CSS	

		//p 
		//	strong Developer
		//p Wordpress
	
	.project
		h3 TrinityFilmFestival.org
		a.projectImageContainer(href="http://www.TrinityFilmFestival.org")
			.projectImage
				img(src = "resources/images/tffsiteS.png")
			.details
				.text
					.role 
						strong Co-Developer
					.tools SASS/Compass, Jade, JQuery

		//p 
		//	strong Co-Developer
		//p SASS/Compass, Jade, JQuery
	
	.project
		h3 Noteworks
		a.projectImageContainer
			.projectImage
				img(src = "resources/images/noteworksS.png")
			.details 
				.text
					.role 
						strong Developer
					.tools Ruby on Rails, HAML, AJAX, Cytoscape.js
					strong COMING SOON

		//p
		//	strong Developer
		//p Ruby on Rails, HAML, AJAX, Cytoscape.js







			