h2.title Projects

.projectsRow
	.project
		h3 TheFredCommunity.com
		.projectImageContainer
			
			.projectImage
				img(src = "resources/images/fredcommS.png")		
			.details
				.text
					p 
						strong Developer
					p Wordpress, HTML, CSS	

		//p 
		//	strong Developer
		//p Wordpress
	
	.project
		h3 TrinityFilmFestival.org
		.projectImageContainer
			.projectImage
				img(src = "resources/images/tffsiteS.png")
			.details
				.text
					p 
						strong Co-Developer
					p SASS/Compass, Jade, JQuery

		//p 
		//	strong Co-Developer
		//p SASS/Compass, Jade, JQuery
	
	.project
		h3 Noteworks (Coming Soon)
		.projectImageContainer
			.projectImage
				img(src = "resources/images/noteworksS.png")
			.details 
				.text
					p
						strong Developer
					p Ruby on Rails, HAML, AJAX, Cytoscape.js

		//p
		//	strong Developer
		//p Ruby on Rails, HAML, AJAX, Cytoscape.js







			