body{
	background-color:$grey;
	font-size:62.5%;
	height:100%;
}

h1, h2, h3, h4, h5, h6{
	font-family:$telegrafico-font;
}
h1{

	font-size:8em;
}

h2{
	font-size:6em;
}

h3{
	font-size:1.8em;
}

p, a{
	font-family:$bitter-font;
	font-size:1.8em;
}

img {
	//max-height:100%;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

 strong{
 	font-weight: bold;
 }

.primary{
    @extend .color-container;
    background-color:$primary;
}
.secondary{
    @extend .color-container;
    background-color:$secondary;
}
.tertiary{
    @extend .color-container;
    background-color:$tertiary;
}
