.centered {
    width: 600px;
    height: 400px;
   
   // background-color:$black;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.frame{
    background-color: $white;
    height:300px;
}

.name{
    font-family:"neovix basic";
    font-size:3em;
    color:$white;
}