.centered {
    width: 600px;
    height: 400px;
   
   // background-color:$black;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    text-align: center;
}

.frame{
    background-color: $white;
    height:400px;
    border-radius: 3px;
}

.name{
    font-family:"Telegrafico";
    letter-spacing: 3px;
    font-size:3em;
    color:$white;
}