.centered {
    width: 600px;
    height: 400px;
   
   // background-color:$black;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    text-align: center;
}

.frame{
    background-color: $white;
    border-radius: 3px;
}

h1.name{
    font-kerning: 8px;
    letter-spacing: 3px;
    color:$white;
}

.container{
    padding:10px;
}

a.email{
    display:inline-block;
    text-decoration: none;
    margin-top: 20px;
    color: $red; //make this rustier
    font-size: 20px;
}