nav {
//	width:100%;
//	text-align:center;
//	height:45px;

}

$navHeight: 38px;
.navBlock{
//	display:inline-block;
//	text-align: center;
//	width:33.333%;
//	height:$navHeight;
}
/*
$triangleHeight: 30px; //really a width too
.navEleWrapper{
	width:100%;
	margin-top:$navHeight - $triangleHeight; //moves it as far from top as it can

	.triangle{
		display:inline-block;

		width: 0; 
		height: 0; 
		border-left: $triangleHeight solid transparent;
		border-right: $triangleHeight solid transparent;
		
		border-bottom: $triangleHeight solid $primary;

		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-ms-transition: all 0.3s ease-out; /* IE10 is actually unprefixed */
	/*	-o-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
		//border-radius:10000px;
		//width:$circleDiameter;
		//height:$circleDiameter;
	}
	h3.title{

	}
}
*/
//.triangle:hover{
//	border-bottom: $triangleHeight solid $trans_black;
	/*border-left: $triangleHeight solid transparent;
	border-right: $triangleHeight solid transparent;
	border-bottom:0px solid transparent;
	border-top: $triangleHeight solid $primary;*/
//}


/*
$circleDiameter: 40px;
.navCircleWrapper{
	width:100%;
	margin-top:$navHeight - $circleDiameter; //moves it as far from top as it can

	.navCircle{
		display:inline-block;
		vertical-align:bottom;
		background-color:$primary;
		border-radius:10000px;
		width:$circleDiameter;
		height:$circleDiameter;
	}
}
//MAYBE MAKE THE NAV ELEMENTS DOWNWARD TRIANGLES THAT SPIN UPWARDS?


$circleBorder: 3px;
$circleSmallerDiameter: $circleDiameter - $circleBorder*2;

.navCircle:hover{
	background-color:$white;
	border: $circleBorder solid $primary;
	width:$circleSmallerDiameter;
	height:$circleSmallerDiameter;
}

*/
/*
.navBlock:hover{
	background-color:$primary;
	.navCircle{
		background-color:$white;
	}
}*/

