nav {
	width:100%;
	text-align:center;
	height:45px;

}

$navHeight: 50px;
.navBlock{
	display:inline-block;
	text-align: center;
	width:25%;
	height:$navHeight;
	font-size:20px;
}

$triangleHeight: 30px; //really a width too
.navEleWrapper{
	width:100%;
	margin-top:$navHeight - $triangleHeight; //moves it as far from top as it can

	.triangle{
		display:inline-block;

		width: 0; 
		height: 0; 
		border-left: $triangleHeight solid transparent;
		border-right: $triangleHeight solid transparent;
		
		border-bottom: $triangleHeight solid $red;
		//border-radius:10000px;
		//width:$circleDiameter;
		//height:$circleDiameter;
	}
}

.triangle:hover{
	border-left: $triangleHeight solid transparent;
	border-right: $triangleHeight solid transparent;
	border-bottom:0px solid transparent;
	border-top: $triangleHeight solid $red;
	
}

/*
$circleDiameter: 40px;
.navCircleWrapper{
	width:100%;
	margin-top:$navHeight - $circleDiameter; //moves it as far from top as it can

	.navCircle{
		display:inline-block;
		vertical-align:bottom;
		background-color:$red;
		border-radius:10000px;
		width:$circleDiameter;
		height:$circleDiameter;
	}
}
//MAYBE MAKE THE NAV ELEMENTS DOWNWARD TRIANGLES THAT SPIN UPWARDS?


$circleBorder: 3px;
$circleSmallerDiameter: $circleDiameter - $circleBorder*2;

.navCircle:hover{
	background-color:$white;
	border: $circleBorder solid $red;
	width:$circleSmallerDiameter;
	height:$circleSmallerDiameter;
}

*/
/*
.navBlock:hover{
	background-color:$red;
	.navCircle{
		background-color:$white;
	}
}*/

