$triangleHeight:30px;
$navHeight:40px;
nav{
	display:inline-block;
	text-align:center;
	width:100%;
}

.navBlock{
	display:inline-block;
	width:33%;
	//background-color:$white;
	//height:$navHeight;
	.navEleWrapper{
		width:100%;
	//	margin-top:$navHeight - $triangleHeight; //moves it as far from top as it can
	//	padding-top:20px;
		h3.navTitle{
			display:inline-block;
			background-color:$white;
			color:$dark-grey;
			width:100%;
		}
	}
}
.centerThird{
	width:34%;
}
.navShapeBlock{
	text-align: center;
	width:100%;

	border:5px solid $white;
	border-top:25px solid $white;
	//height:$navHeight;
	//background-color:$red;
	//display:table;
	//table-layout: fixed;
	@include flexbox();
	margin-left:auto;
	margin-right:auto
}
.ffTriangleWrapper{
	position:relative;
	display:block;
	height:$triangleHeight;
	//background-color:$grey;
}
.triangleContainer{
	//display:table-cell;
	width:$triangleHeight*2;
	height:$triangleHeight;

	.triangle{
		display:inline-block;
		position:absolute;

		left:0;
		z-index:2;
	//	height:$triangleHeight;
	//	width:$triangleHeight;
		width: 0; 
		height: 0; 
	//	background-color:$white;
		border-top: $triangleHeight solid $white;
		border-left: $triangleHeight solid transparent;
		border-right: $triangleHeight solid transparent;
	}

	.leftTriangle{
		@extend .triangle;
		left:0;
		border-left:0px solid transparent;

	}
	.rightTriangle{
		@extend .triangle;
		left:$triangleHeight;
		border-right:0px solid transparent;
	}
	.midTriangle{
		@extend .triangle;
		border-top: 0px solid transparent;
		border-bottom: $triangleHeight solid transparent;
	}
}

.filler{
	//display:table-cell;
	@include flex(1);
	height:$triangleHeight;
	background-color:$white;
}

.triangleContainer:hover .midTriangle{
	border-bottom: $triangleHeight solid $trans_white;
}