/* line 1, ../../sass/shared/nav.scss */
nav {
  width: 100%;
  text-align: center;
  height: 20px;
  background-color: #440088;
}
/* line 6, ../../sass/shared/nav.scss */
nav .navBlock {
  display: inline-block;
  text-align: center;
  width: 33%;
}
/* line 10, ../../sass/shared/nav.scss */
nav .navBlock .navCircle {
  display: inline-block;
  width: 10px;
  height: 10px;
}
