/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/shared/_common.scss */
body {
  background-color: #660000;
}

/* line 5, ../sass/shared/_common.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "neovix basic";
}

/* line 9, ../sass/shared/_common.scss */
p {
  font-family: "arial";
}

/* line 1, ../sass/shared/_frame.scss */
.centered {
  width: 600px;
  height: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

/* line 16, ../sass/shared/_frame.scss */
.frame {
  background-color: #f2f2f2;
  height: 400px;
  border-radius: 3px;
}

/* line 22, ../sass/shared/_frame.scss */
.name {
  font-family: "Telegrafico";
  letter-spacing: 3px;
  font-size: 3em;
  color: #f2f2f2;
}

/* line 1, ../sass/shared/_nav.scss */
nav {
  width: 100%;
  text-align: center;
  height: 45px;
}

/* line 9, ../sass/shared/_nav.scss */
.navBlock {
  display: inline-block;
  text-align: center;
  width: 25%;
  height: 50px;
  font-size: 20px;
}

/* line 18, ../sass/shared/_nav.scss */
.navCircleWrapper {
  width: 100%;
  margin-top: 10px;
}
/* line 22, ../sass/shared/_nav.scss */
.navCircleWrapper .navCircle {
  display: inline-block;
  vertical-align: bottom;
  background-color: #660000;
  border-radius: 10000px;
  width: 40px;
  height: 40px;
}

/* line 35, ../sass/shared/_nav.scss */
.navCircle:hover {
  background-color: #f2f2f2;
  border: 3px solid #660000;
  width: 34px;
  height: 34px;
}

/*
.navBlock:hover{
	background-color:$red;
	.navCircle{
		background-color:$white;
	}
}*/
