/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "telegrafico";
  src: url('/fonts/telegrafico/telegrafico-webfont.eot');
  src: url('/fonts/telegrafico/telegrafico-webfont.eot?#iefix') format('eot'), url('/fonts/telegrafico/telegrafico-webfont.ttf') format('truetype'), url('/fonts/telegrafico/telegrafico-webfont.svg') format('svg'), url('/fonts/telegrafico/telegrafico-webfont.woff') format('woff'), url('/fonts/telegrafico/telegrafico-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "bitter";
  src: url('/fonts/Bitter/bitter-regular-webfont.eot');
  src: url('/fonts/Bitter/bitter-regular-webfont.eot?#iefix') format('eot'), url('/fonts/Bitter/bitter-regular-webfont.ttf') format('truetype'), url('/fonts/Bitter/bitter-regular-webfont.svg') format('svg'), url('/fonts/Bitter/bitter-regular-webfont.woff') format('woff'), url('/fonts/Bitter/bitter-regular-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "bitter";
  src: url('/fonts/Bitter-bold/bitter-bold-webfont.eot');
  src: url('/fonts/Bitter-bold/bitter-bold-webfont.eot?#iefix') format('eot'), url('/fonts/Bitter-bold/bitter-bold-webfont.ttf') format('truetype'), url('/fonts/Bitter-bold/bitter-bold-webfont.svg') format('svg'), url('/fonts/Bitter-bold/bitter-bold-webfont.woff') format('woff'), url('/fonts/Bitter-bold/bitter-bold-webfont.eot') format('embedded-opentype');
  font-weight: bold;
}

/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets
*********************************/
/* line 18, ../sass/utils/_flexslider.scss */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}

/* line 21, ../sass/utils/_flexslider.scss */
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
  font-family: 'flexslider-icon';
  src: url("fonts/flexslider-icon.eot");
  src: url("fonts/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("fonts/flexslider-icon.woff") format("woff"), url("fonts/flexslider-icon.ttf") format("truetype"), url("fonts/flexslider-icon.svg#flexslider-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
/* line 39, ../sass/utils/_flexslider.scss */
.flexslider {
  margin: 0;
  padding: 0;
}

/* line 40, ../sass/utils/_flexslider.scss */
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
/* line 41, ../sass/utils/_flexslider.scss */
.flexslider .slides img {
  width: 100%;
  display: block;
}

/* line 42, ../sass/utils/_flexslider.scss */
.flex-pauseplay span {
  text-transform: capitalize;
}

/* Clearfix for the .slides element */
/* line 45, ../sass/utils/_flexslider.scss */
.slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 46, ../sass/utils/_flexslider.scss */
html[xmlns] .slides {
  display: block;
}

/* line 47, ../sass/utils/_flexslider.scss */
* html .slides {
  height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
/* line 52, ../sass/utils/_flexslider.scss */
.no-js .slides > li:first-child {
  display: block;
}

/* FlexSlider Default Theme
*********************************/
/* line 56, ../sass/utils/_flexslider.scss */
.flexslider {
  margin: 0 0 60px;
  background: #fff;
  border: 4px solid #fff;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  zoom: 1;
}

/* line 57, ../sass/utils/_flexslider.scss */
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 58, ../sass/utils/_flexslider.scss */
.loading .flex-viewport {
  max-height: 300px;
}

/* line 59, ../sass/utils/_flexslider.scss */
.flexslider .slides {
  zoom: 1;
}

/* line 60, ../sass/utils/_flexslider.scss */
.carousel li {
  margin-right: 5px;
}

/* Direction Nav */
/* line 63, ../sass/utils/_flexslider.scss */
.flex-direction-nav {
  *height: 0;
}

/* line 64, ../sass/utils/_flexslider.scss */
.flex-direction-nav a {
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

/* line 65, ../sass/utils/_flexslider.scss */
.flex-direction-nav .flex-prev {
  left: -50px;
}

/* line 66, ../sass/utils/_flexslider.scss */
.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right;
}

/* line 67, ../sass/utils/_flexslider.scss */
.flexslider:hover .flex-prev {
  opacity: 0.7;
  left: 10px;
}

/* line 68, ../sass/utils/_flexslider.scss */
.flexslider:hover .flex-next {
  opacity: 0.7;
  right: 10px;
}

/* line 69, ../sass/utils/_flexslider.scss */
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1;
}

/* line 70, ../sass/utils/_flexslider.scss */
.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default;
}

/* line 71, ../sass/utils/_flexslider.scss */
.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: '\f001';
}

/* line 72, ../sass/utils/_flexslider.scss */
.flex-direction-nav a.flex-next:before {
  content: '\f002';
}

/* Pause/Play */
/* line 75, ../sass/utils/_flexslider.scss */
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}

/* line 76, ../sass/utils/_flexslider.scss */
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}

/* line 77, ../sass/utils/_flexslider.scss */
.flex-pauseplay a:hover {
  opacity: 1;
}

/* line 78, ../sass/utils/_flexslider.scss */
.flex-pauseplay a.flex-play:before {
  content: '\f003';
}

/* Control Nav */
/* line 81, ../sass/utils/_flexslider.scss */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}

/* line 82, ../sass/utils/_flexslider.scss */
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/* line 83, ../sass/utils/_flexslider.scss */
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

/* line 84, ../sass/utils/_flexslider.scss */
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}

/* line 85, ../sass/utils/_flexslider.scss */
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}

/* line 87, ../sass/utils/_flexslider.scss */
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}

/* line 88, ../sass/utils/_flexslider.scss */
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}

/* line 89, ../sass/utils/_flexslider.scss */
.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer;
}

/* line 90, ../sass/utils/_flexslider.scss */
.flex-control-thumbs img:hover {
  opacity: 1;
}

/* line 91, ../sass/utils/_flexslider.scss */
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}

@media screen and (max-width: 860px) {
  /* line 94, ../sass/utils/_flexslider.scss */
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }

  /* line 95, ../sass/utils/_flexslider.scss */
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}
/* line 1, ../sass/shared/_common.scss */
body {
  background-color: gray;
  font-size: 62.5%;
  height: 100%;
}

/* line 7, ../sass/shared/_common.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "telegrafico", Arial, Helvetica, sans-serif;
}

/* line 10, ../sass/shared/_common.scss */
h1 {
  font-size: 8em;
}

/* line 15, ../sass/shared/_common.scss */
h2 {
  font-size: 6em;
}

/* line 19, ../sass/shared/_common.scss */
h3 {
  font-size: 1.8em;
}

/* line 23, ../sass/shared/_common.scss */
p, a {
  font-family: "bitter", Georgia, serif;
  font-size: 1.8em;
}

/* line 32, ../sass/shared/_common.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 36, ../sass/shared/_common.scss */
strong {
  font-weight: bold;
}

/* line 40, ../sass/shared/_common.scss */
.primary {
  background-color: #660000;
}

/* line 44, ../sass/shared/_common.scss */
.secondary {
  background-color: #001030;
}

/* line 48, ../sass/shared/_common.scss */
.tertiary {
  background-color: #004400;
}

/* line 1, ../sass/shared/_frame.scss */
#background-slider {
  background-color: gray;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  overflow: hidden !important;
  width: 100%;
  z-index: -1;
  border-width: 0px;
  margin-bottom: 0px;
}
/* line 15, ../sass/shared/_frame.scss */
#background-slider .slides {
  position: relative;
  height: 10000px;
  width: 100%;
  background-color: #0b0b0b;
}
/* line 22, ../sass/shared/_frame.scss */
#background-slider .slides li {
  position: relative;
  height: 100%;
  width: 100%;
}
/* line 27, ../sass/shared/_frame.scss */
#background-slider .slides li .color-container, #background-slider .slides li .primary, #background-slider .slides li .secondary, #background-slider .slides li .tertiary {
  position: relative;
  min-height: 100%;
  min-width: 100%;
}

/* line 38, ../sass/shared/_frame.scss */
.centered {
  margin-top: 15%;
  text-align: center;
}

/* line 42, ../sass/shared/_frame.scss */
.frameWrapper {
  display: inline-block;
  max-width: 800px;
  width: 100%;
  z-index: 10;
}

/* line 51, ../sass/shared/_frame.scss */
.frame {
  display: inline-block;
  background-color: #f2f2f2;
  width: 100%;
}

/* line 58, ../sass/shared/_frame.scss */
h1.name {
  letter-spacing: 3px;
  color: #f2f2f2;
  font-family: "telegrafico", Arial, Helvetica, sans-serif;
}

/* line 64, ../sass/shared/_frame.scss */
.container {
  padding: 20px 10px;
}

/* line 68, ../sass/shared/_frame.scss */
a.email {
  display: inline-block;
  text-decoration: none;
  margin-top: 20px;
  color: #660000;
  font-size: 20px;
}

		                                   /*
$triangleHeight: 30px; //really a width too
.navEleWrapper{
	width:100%;
	margin-top:$navHeight - $triangleHeight; //moves it as far from top as it can

	.triangle{
		display:inline-block;

		width: 0; 
		height: 0; 
		border-left: $triangleHeight solid transparent;
		border-right: $triangleHeight solid transparent;
		
		border-bottom: $triangleHeight solid $primary;

		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-ms-transition: all 0.3s ease-out; /* IE10 is actually unprefixed */
	/*	-o-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
		//border-radius:10000px;
		//width:$circleDiameter;
		//height:$circleDiameter;
	}
	h3.title{

	}
}
*/
/*border-left: $triangleHeight solid transparent;
border-right: $triangleHeight solid transparent;
border-bottom:0px solid transparent;
border-top: $triangleHeight solid $primary;*/
/*
.navBlock:hover{
	background-color:$primary;
	.navCircle{
		background-color:$white;
	}
}*/
/* line 3, ../sass/shared/_newnav.scss */
nav {
  display: inline-block;
  height: 40px;
  text-align: center;
  width: 100%;
}

/* line 12, ../sass/shared/_newnav.scss */
.navBlock {
  display: inline-block;
  width: 33%;
}
/* line 17, ../sass/shared/_newnav.scss */
.navBlock .navEleWrapper {
  width: 100%;
  margin-top: 10px;
}
/* line 20, ../sass/shared/_newnav.scss */
.navBlock .navEleWrapper h3.navTitle {
  display: inline-block;
  background-color: #f2f2f2;
  color: #404040;
  width: 100%;
}

/* line 28, ../sass/shared/_newnav.scss */
.centerThird {
  width: 34%;
}

/* line 31, ../sass/shared/_newnav.scss */
.navShapeBlock {
  text-align: center;
  width: 100%;
  border: 5px solid #f2f2f2;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

/* line 44, ../sass/shared/_newnav.scss */
.ffTriangleWrapper {
  position: relative;
  display: block;
  height: 30px;
}

/* line 50, ../sass/shared/_newnav.scss */
.triangleContainer {
  width: 60px;
  height: 30px;
}
/* line 55, ../sass/shared/_newnav.scss */
.triangleContainer .triangle, .triangleContainer .leftTriangle, .triangleContainer .rightTriangle, .triangleContainer .midTriangle {
  display: inline-block;
  position: absolute;
  left: 0;
  z-index: 2;
  width: 0;
  height: 0;
  border-top: 30px solid #f2f2f2;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
}
/* line 71, ../sass/shared/_newnav.scss */
.triangleContainer .leftTriangle {
  left: 0;
  border-left: 0px solid transparent;
}
/* line 77, ../sass/shared/_newnav.scss */
.triangleContainer .rightTriangle {
  left: 30px;
  border-right: 0px solid transparent;
}
/* line 82, ../sass/shared/_newnav.scss */
.triangleContainer .midTriangle {
  border-top: 0px solid transparent;
  border-bottom: 30px solid transparent;
}

/* line 89, ../sass/shared/_newnav.scss */
.filler {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 30px;
  background-color: #f2f2f2;
}

/* line 96, ../sass/shared/_newnav.scss */
.triangleContainer:hover .midTriangle {
  border-bottom: 30px solid rgba(255, 255, 255, 0.3);
}

/* line 1, ../sass/content/_bio.scss */
h2.aboutTitle {
  color: #660000;
}

/* line 5, ../sass/content/_bio.scss */
.bioText {
  padding-top: 10px;
  line-height: 20px;
}
/* line 8, ../sass/content/_bio.scss */
.bioText p {
  color: gray;
}

/* line 13, ../sass/content/_bio.scss */
.bioWrapper {
  width: 100%;
}

/* line 4, ../sass/content/_projects.scss */
h2.projectsTitle {
  color: #001030;
}

/* line 7, ../sass/content/_projects.scss */
.projectsRow {
  width: 100%;
  text-align: center;
  min-height: 150px;
  margin-top: 10px;
}

/* line 13, ../sass/content/_projects.scss */
.project {
  display: inline-block;
  width: 30%;
  height: 30px;
  text-align: center;
}
/* line 18, ../sass/content/_projects.scss */
.project h3 {
  font-weight: bold;
  font-color: #001030;
}

/* line 24, ../sass/content/_projects.scss */
.projectImageContainer {
  width: 100%;
  height: 134px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  	/*width:30%;
  	vertical-align:top;
  
  	background-color:$grey;
  	height:30px;*/
}
/* line 37, ../sass/content/_projects.scss */
.projectImageContainer .projectImage, .projectImageContainer .details {
  width: 100%;
  height: 133px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
/* line 46, ../sass/content/_projects.scss */
.projectImageContainer .details {
  display: none;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 50, ../sass/content/_projects.scss */
.projectImageContainer .details .text {
  margin-top: 16%;
  color: #f2f2f2;
}
/* line 64, ../sass/content/_projects.scss */
.projectImageContainer .projectImage {
  text-align: center;
}
/* line 66, ../sass/content/_projects.scss */
.projectImageContainer .projectImage img {
  display: inline-block;
}

@media only screen and (min-device-width: 800px), only screen and (min-width: 800px) {
  /* line 74, ../sass/content/_projects.scss */
  .projectImage:hover + .details, .details:hover {
    display: block;
  }
}
@media only screen and (max-device-width: 800px), only screen and (max-width: 800px) {
  /* line 80, ../sass/content/_projects.scss */
  .project {
    width: 100%;
    max-width: 480px;
    min-height: 100px;
    text-align: center;
    color: #303030;
  }
  /* line 86, ../sass/content/_projects.scss */
  .project h3 {
    color: #001030;
    font-size: 2em;
    font-weight: bold;
  }

  /* line 92, ../sass/content/_projects.scss */
  a.projectImageContainer {
    width: 100%;
    display: inline-block;
    position: static;
    text-align: center;
    height: 100px;
    background-color: #303030;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  /* line 103, ../sass/content/_projects.scss */
  a.projectImageContainer .projectImage, a.projectImageContainer .details {
    height: 100px;
    position: static;
    display: inline-block;
    vertical-align: top;
  }
  /* line 109, ../sass/content/_projects.scss */
  a.projectImageContainer .details {
    background-color: #303030;
    padding: 10px;
    max-width: 60%;
  }
  /* line 113, ../sass/content/_projects.scss */
  a.projectImageContainer .details .text {
    margin-top: 0%;
    text-align: right;
  }
  /* line 124, ../sass/content/_projects.scss */
  a.projectImageContainer .projectImage {
    width: 40%;
  }
  /* line 129, ../sass/content/_projects.scss */
  a.projectImageContainer .projectImage img {
    max-height: 100%;
    max-width: none;
  }

  /* line 136, ../sass/content/_projects.scss */
  .projectImage:hover + .details, .details:hover {
    display: inline-block;
  }
}
/* line 1, ../sass/content/_contact.scss */
h2.contactTitle {
  color: #004400;
}

/* line 5, ../sass/content/_contact.scss */
.skillsContainer {
  display: inline-block;
  text-align: left;
  max-width: 600px;
  color: gray;
}

/* line 12, ../sass/content/_contact.scss */
.area {
  margin: 10px 0px;
}

/* line 1, ../sass/content/_single.scss */
.carWrapper {
  display: inline-block;
  width: 780px;
  text-align: center;
}

/* line 7, ../sass/content/_single.scss */
#content-slider {
  background-color: #f2f2f2;
  border-radius: 0px;
  border-width: 0px;
  box-shadow: none;
  margin-bottom: 0px;
}
