

$dark_blue: #001030;

$red: #660000;

$black: #0b0b0b;

$white: #F2F2F2;

$forest_green:#004400;

$grey: #808080;

$dark-grey: #404040;

$trans_black:rgba(0,0,0,.3);

$trans_white:rgba(255,255,255, .3);

$primary: $red;

$secondary: $dark_blue;

$tertiary: $forest_green;