h2.aboutTitle{
	color:$primary;
}

.bioText{
	padding-top:10px;
	line-height:2.8em;
	min-height:180px;
	p{
		color:$grey;
	}
}

.bioWrapper{
	width:100%;
}

.contactRow{
	text-align:center;
	font-size:2em;
}