$rowHeight: 150px;
$containerHeight:134px;

h2.projectsTitle{
	color:$secondary;
}
.projectsRow{
	width:100%;
	text-align:center;
	min-height:$rowHeight;
	margin-top:10px;
}
.project{
	display:inline-block;
	width:30%;
	height:30px;
	text-align:center;
	h3{
		font-weight:bold;
		font-color:$secondary;
	}
}

.projectImageContainer{
	width:100%;
	height:$containerHeight; //ugly little solution that works b/c of my image res
    position:relative;
	display:inline-block;
	overflow:hidden;

	/*width:30%;
	vertical-align:top;

	background-color:$grey;
	height:30px;*/

	.projectImage, .details{
	    width: 100%;
	    height: $containerHeight - 1;
	    position: absolute;
	    top: 0;
	    left: 0;
	    z-index:1;
	}

	.details {
		display:none;
    	z-index: 10;
    	background-color:rgba(0,0,0,.8);
    	.text{
    		margin-top: 16%;
    		color:$white;
			.role{
				//font-size: 1.5em;
			}
			.tools{
			//	font-size: 1em;
			}
    	//	font-size: 2em;
    	//	font-family: bitter;
    	//	color:$white;
    	}
	}
	.projectImage{
	    text-align: center;
	    img{
	    	display: inline-block;
	    }
	}

}

@media only screen and (min-device-width: 800px), only screen and (min-width: 800px){
	.projectImage:hover + .details, .details:hover{
		display:block;
	}
}

@media only screen and (max-device-width: 800px), only screen and (max-width: 800px){
	.project{
		width:100%;
		max-width: 480px;
		min-height:100px;
		text-align:center;
		$color:$secondary;
			h3{
			color:$secondary;
			font-size:2em;
			font-weight: bold;
		}
	}
	a.projectImageContainer{
		width:100%;
		display:inline-block;
		//height:150px;
		position:static;
		text-align:center;
		height:100px;
		background-color:$secondary;
		border-radius: 5px;

		margin-bottom:10px;
		.projectImage, .details{
			height:100px;
			position: static;
			display:inline-block;
			vertical-align: top;
		}
		.details{
			background-color:#303030;
			padding:10px;
			max-width:60%;
			.text{
				margin-top:0%;
				//color:$;
				text-align:right;

				.role .tools{
					color:$red;
				}
			}
		}
		.projectImage{
			width:40%;
			//min-width: 181px;
			

			img{
				max-height:100%;
				max-width: none;
			}

		}
	}
	.projectImage:hover + .details, .details:hover{
		display:inline-block;
	}

}


@media only screen and (max-device-width: 800px), only screen and (max-width: 800px){

}