$rowHeight: 150px;
$containerHeight:134px;
$dark-grey:#303030;
h2.projectsTitle{
	color:$secondary;
}
.projectsRow{
	width:100%;
	text-align:center;
	min-height:$rowHeight;
	margin-top:10px;
}
.project{
	display:inline-block;
	width:30%;
//	height:30px;
	text-align:center;
	h3{
		font-weight:bold;
		font-color:$secondary;
	}
}

.projectImageContainer{
	width:100%;
//	height:$containerHeight; //ugly little solution that works b/c of my image res
    position:relative;
	display:inline-block;
//	overflow:hidden;

	/*width:30%;
	vertical-align:top;

	background-color:$grey;
	height:30px;*/

	.projectImage, .details{
	    width: 100%;
	    height: $containerHeight - 1;
	    position: absolute;
	    top: 0;
	    left: 0;
	    z-index:1;
	}

	.details {
		display:none;
    	z-index: 10;
    	background-color:rgba(0,0,0,.8);
    	.text{
    		margin-top: 16%;
    		color:$white;
    	}
	}
	.projectImage{
	    text-align: center;
	    img{
	    	display: inline-block;
	    }
	}

}

@media only screen and (min-device-width: 800px), only screen and (min-width: 800px){
	.projectImage:hover + .details, .details:hover{
		display:block;
	}
}

@media only screen and (max-device-width: 800px), only screen and (max-width: 800px){
	.project{
		width:100%;
		max-width: 480px;
		//min-height:100px;
		text-align:center;
		color:$dark-grey;
			h3{
			color:$secondary;
			font-size:2em;
			font-weight: bold;
		}
	}
	.projectImageContainer{
		@include flexbox();
		position:static;
		width:100%;
	//	height:100%;
		margin-bottom:10px;
		
		background-color:$dark-grey;
		border-radius:5px;
		overflow:hidden;
		
		text-decoration: none;

		.projectImage, .details{
			position: static;
			display:inline-block;
			vertical-align: top;
			height:100%;
		
		}
		.details{
			@include flex(1);
			background-color:$dark-grey;
			padding:10px;
			font-size:.9em;
			.text{
				margin-top:0%;
				text-align:right;
			}
		}
		.projectImage{
			//width:181px; //comes from the resolution
			max-width:40%;

		}
	}
	.projectImage:hover + .details, .details:hover{
		display:inline-block;
	}

}


@media only screen and (max-device-width: 360px), only screen and (max-width: 360px){
	
	.projectImageContainer{
		.details{
			font-size: .8em;
		}
	}
}