h2.title{
	color:$red;
}

.projectsRow{
	width:100%;
	text-align:center;
	height:200px;
}

.project{
	display:inline-block;
	vertical-align:top;
	width:32%;
	margin-left:3px;
	margin-right:3px;
	background-color:$grey;
	height:30px;
}
h3.title{

}
p.tools{

}